/*CSS DOCUMENT*/
@import url("https://use.typekit.net/cmb5pxg.css");

body {
    background: rgb(250,250,250);
    font-family: 'interstate', sans-serif;
}

img {
    width:100%;
}

header {
    width: 100%;
    clear: both;
}

nav { 
    float: right;
    padding-top: 3em;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

nav ul li a {
    text-decoration: none;  
    color: rgb(15,15,15);
}

h1 {
    width: 4.5em;
    float: left;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    clear: both;
}

h3 {
    margin-top: 1.5em;
    border: solid rgb(15,15,15);
    border-width: .75px 0;
    padding: 0.45em 0em;
    text-align: center;
}

h4 {
    margin-bottom: 0em;
}

.menu p {
    margin: 0.25em 0em 0.25em 0em;
}

li {
    list-style-type: none;
}